.contributors > ul {
  list-style: none;
  margin: 3em;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contributors > ul > li {
  border: 1px solid var(--light-color);
  background-color: var(--background-color);
}

.contributors .contributors-card-body {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributors .contributors-card-image {
  line-height: 0;
}

.contributors .contributors-card-body > *:first-child {
  margin-top: 0;
}

.contributors > ul > li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.contributors .section {
  padding: 0;
  display: flex;
  justify-content: center;
}

.contributors .social-container {
  padding: 0;
}


