.social .social-container {
    list-style: none;
    display: flex;
    font-size: x-large;
}

.social .social-container a:any-link {
    color: black;
    text-decoration: none;
}

.social .social-container li {
    padding: 10px;
}
